.bg-purple {
  background-color: #702181;
}

.border-dashed {
  border-style: dashed;
}

.macro {
  position: relative;
}

.macro .btn {
  border-radius: none;
  color: white;
  transition: transform 0.3s ease;
}
.macro .btn-delete {
  position: absolute;
  top: 0.25rem;
  right: 1rem;
}
.macro .btn-delete:hover {
  color: red;
  font-swight: bold;
  transform:scale(1.2);
}

.macro .btn-edit {
  position: absolute;
  top: 0.25rem;
  right: 2.9rem;
}

.macro .btn-edit:hover {
  color: orange;
  transform:scale(1.2);
}

.macro input {
  line-height: 2rem;
}

.macro input:focus {
  color: white;
  background: #702181;
}

.groups-container .macro-group:nth-child(5n+2) .bg-purple
{
  background: #6DA34D !important;
}

.groups-container .macro-group:nth-child(5n+3) .bg-purple
{
  background: #DB5461 !important;
}

.groups-container .macro-group:nth-child(5n+4) .bg-purple
{
  background: #4D5382 !important;
}

.groups-container .macro-group:nth-child(5n+5) .bg-purple
{
  background: #EF8839 !important;
}
