textarea {
  min-height: 100px;
}

.preview .card {
  border: 1px solid #702181;
  border-radius: 0;
  font-size: 150%;
}

.p-relative {
  position: relative;
}

.preview .card .card-header{
  background-color: #702181;
  border-radius: 0;
  border: none;
  color: white;
  text-align: center;
  min-height: 1.5rem;
}

.preview .list-group-item {
  font-weight: bold;
  position: relative;
  border: none;
}

.preview .macro-line:hover {
  cursor: pointer;
}

.preview .btn-preview-delete {
  position: absolute;
  top: 0.33rem;
  right: 0.2rem;
  padding: 0;
  z-index:9999;
}
.preview .btn-preview-delete .fa{
  padding: 0.5rem 0.6rem;
}

.macro-line {
  min-height: 2.8rem;
}

.preview .macro-line:hover, .preview .macro-line.active{
  background: #ebd4ff !important;
  color: black;
}

.preview .list-group-item:hover:after {
  display: block;
}

.preview .list-group > .list-group-item:nth-child(even) {
  background: #efefef;
  border-color:#efefef;
}

.btn-dashed {
  border-style: dashed;
}

.btn:hover {
  cursor: pointer;
}

.preview .roll {
  background: #fff173;
  padding: 0.0rem 0.2rem;
  line-height: 1.9rem;
  display: inline-block;
}

.preview input:focus {
  outline: none;
}

.btn-primary {
  background: #702181;
  border-color: #702181;
}

.btn-primary:hover {
  border-color: #89399a;
  background: #89399a;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(112, 33, 128, 0.26);
}

.edit-label {
  position: absolute;
  top: 0.1rem;
  right: 0.7rem;
}

.navbar-light {
  justify-content: flex-start;
}

.navbar-light a:hover {
  text-decoration: underline;
}
